<%= form_for @user do |f| %>
  <p><strong><h3>Sign Up</h3></strong></p>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </p>
  <p>
     <%= f.label :password %>
     <%= f.password_field :password %>
  </p>
  <p>
     <%= f.label :confirm_password %>
     <%= f.password_field :password_confirmation %>
  </p>
  <p>
    <%= f.submit "Signup" %>
  </p>
<% end %>
