<div class="container">

  <div class="new_board_btn">
    <span class="new_board_btn_text">Click here to create a new board!</span>
  </div>

  <div class="new_board hidden" id='parent_board'>
    <span class="board_text">What should we call this board?</span>
    <center>
      <%= form_for :boards do |f| %>
      <div class="ui input" id="board_name">
        <%= f.text_field :name, placeholder: 'ex. Project Name...'  %>
      </div>
      <br><button class="negative ui button">CANCEL</button> <%= f.submit :class => 'positive ui button' %>
      <% end %>
    </center>
  </div>

  <% @all_boards.each do |board| %>

    <div class="board">
      <i class="cog link icon"></i>
      <i class="close link icon"></i>
      <span class="board_text"><%= board.name %></span>
      <div class="task_list">
        <% board.task.each do |task| %>
        <div class="ui labeled input ui-state-default">
          <%= form_for :task, :url => url_for(:controller => 'tasks', :action => 'update', id: task.id), method: :patch, :html => {:class => 'ui labeled input'} do |f| %>
          <div class="ui checkbox">
            <% if task.completed == false %>
            <%= f.check_box(:completed, {}, "true", "false") %>
            <label></label>
            <% else %>
            <%= f.check_box(:completed, {:checked => true}, "true", "false") %>
            <label></label>
            <% end %>
          </div>
          <div class="ui label">
            <%= task.name %>
          </div>
          <input type="text" name="datepicker" class="form-control" placeholder="Deadline" />
          <input type="hidden" name="date" value="<%= task.deadline.strftime("%Y-%m-%d") unless task.deadline.nil?  %>">
        </div>
        <% end %>

        <% end %>
      </div>
      <div class="task_div">
        <div class="ui action input">
          <%= form_for(:task, url: tasks_path) do |f| %>
            <input type="text" placeholder="Task..." name="name">
            <button class="ui button">Add Task</button>
            <input type="hidden" name="board_id" value="<%= board.id %>">
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

</div>
