<!DOCTYPE html>
<html>
  <head>
    <title>TrelloClone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <nav>
    <span class="nav_logo">TrelloClone</span>
    <% if current_user %>
    <span class="nav_profile">
      Welcome <%= current_user.name %>
      <%= link_to("(Logout)", session_path("current"), method: :delete) %>
    </span>
    <% else %>
    <div class="nav_login"><p>
      <%= form_tag sessions_path do %>
        <%= label_tag :name%>:
        <%= text_field_tag :name %>
        <%= label_tag :password %>:
        <%= password_field_tag :password %>
        <%= submit_tag "Login", data: { disable_with: "Please wait.." } %>
      <% end %>
    </p></div>
    <% end %>
  </nav>

  <body>
    <%= yield %>
  </body>
</html>
